@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #626262;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.home {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#006494), to(#0582CA));
  background: linear-gradient(to bottom right, #006494, #0582CA);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.home nav {
  position: absolute;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  max-width: 1400px;
  padding: 0 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home nav .brand img {
  height: 77px;
}

.home nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 437px;
}

.home nav .links a {
  font-size: 28px;
  text-transform: uppercase;
  color: #ddd;
  height: 42px;
}

.home nav .links a:hover {
  color: #fff;
}

.home nav .links i {
  font-size: 42px;
}

.home .hero {
  width: 1200px;
  height: 80vh;
  position: relative;
  margin: 15vh auto;
}

.home .hero .hero-text, .home .hero .cta, .home .hero .hero-svg, .home .hero .hexagons {
  position: absolute;
}

.home .hero .hero-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 69px;
  width: 886px;
  top: 50px;
  left: 279px;
  color: #fff;
  z-index: 2;
}

.home .hero .hero-text .text2 {
  margin: 27px 0 0 153px;
}

.home .hero .hero-text .text3 {
  text-align: right;
  margin-top: 27px;
}

.home .hero .cta {
  left: 777px;
  top: 450px;
  border-radius: 10px;
  background-color: #00A6FB;
  padding: 10px 28px;
  font-size: 22px;
  color: #fff;
  z-index: 2;
}

.home .hero .hero-svg {
  top: 200px;
  left: -82px;
}

.home .hero .hero-svg img {
  height: 547px;
}

.home .hero .hexagons {
  z-index: 1;
  width: 1328px;
  top: 315px;
  left: 400px;
  opacity: .1;
}

.portfolio {
  margin: auto;
  width: 1200px;
  padding: 40px 50px;
}

.portfolio h1 {
  color: #7a7a7a;
  margin-bottom: 30px;
}

.portfolio .project {
  background-color: #eee;
  padding: 10px 40px 0 40px;
  width: 934px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 5%;
          column-gap: 5%;
      grid-template-areas: "title image" "description image" "buttons image" "notice image";
  -ms-grid-columns: 50% 45%;
      grid-template-columns: 50% 45%;
  -ms-grid-rows: 30% 45% 15% 10%;
      grid-template-rows: 30% 45% 15% 10%;
  border-radius: 30px;
  margin-bottom: 70px;
  position: relative;
  margin-left: auto;
}

.portfolio .project h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.portfolio .project .image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: image;
  text-align: center;
}

.portfolio .project .image img {
  width: 400px;
}

.portfolio .project .description {
  font-size: 19px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
}

.portfolio .project .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: buttons;
}

.portfolio .project .live-preview {
  background-color: #00A6FB;
  width: 196px;
  text-align: center;
  font-size: 19px;
  padding: 6px 0;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.portfolio .project .live-preview:hover {
  background-color: #0582CA;
}

.portfolio .project .buttons i {
  font-size: 32px;
}

.portfolio .project .fa-github {
  color: #555;
}

.portfolio .project .fa-github:hover {
  color: #777;
}

.portfolio .project .fa-youtube {
  color: #f31e1e;
}

.portfolio .project .fa-youtube:hover {
  color: #ff4949;
}

.portfolio .project .notice {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: notice;
  color: #c36b18;
  margin-left: 20px;
  font-size: 14px;
}

.portfolio .project .footer {
  position: absolute;
  bottom: -34px;
  background-color: #0582CA;
  color: #eee;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 18px;
  padding-top: 70px;
  z-index: -1;
  border-radius: 30px;
}

.portfolio .project:nth-child(even) {
  margin-left: 0;
  -ms-grid-columns: 45% 50%;
      grid-template-columns: 45% 50%;
      grid-template-areas: "image title" "image description" "image buttons" "image notice";
}

.about {
  background: -webkit-gradient(linear, left top, right bottom, from(#003554), to(#006494));
  background: linear-gradient(to bottom right, #003554, #006494);
  color: #fff;
  padding-top: 1px;
}

.about h1 {
  margin-bottom: 20px;
}

.about .about-me, .about .contact {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 160px;
}

.about .about-me {
  padding-bottom: 0;
}

.about .about-me .text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.about .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .contact form .input-group {
  position: relative;
}

.about .contact form input, .about .contact form textarea {
  height: 50px;
  background-color: #003554;
  border: none;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 20px 0 5px 30px;
  font-size: 20px;
  color: #fff;
  font-family: 'Poppins';
}

.about .contact form input:focus, .about .contact form textarea:focus {
  outline: none;
}

.about .contact form input:focus ~ label, .about .contact form input:valid ~ label, .about .contact form textarea:focus ~ label, .about .contact form textarea:valid ~ label {
  color: #00A6FB;
  font-size: 18px;
  top: -10px;
  left: 0px;
  font-weight: 500;
  padding: 0 20px;
}

.about .contact form label {
  position: absolute;
  top: 10px;
  left: 30px;
  color: #fff6;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: #003554;
  border-radius: 10px;
}

.about .contact form .name {
  width: 423px;
}

.about .contact form .email {
  width: 583px;
}

.about .contact form .subject {
  width: 747px;
}

.about .contact form .message {
  width: 868px;
  height: 246px;
  padding: 20px 30px;
  resize: none;
}

.about .contact form button {
  background-color: #00A6FB;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.about .contact form button:hover {
  background-color: #0582CA;
}

.footer {
  background-color: #051923;
  color: #ddd;
  padding: 20px 0 10px 0;
}

.footer .links {
  width: 433px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  color: #bbb;
  font-size: 20px;
  margin: 5px 0;
}

.footer .links a .icon {
  width: 40px;
  text-align: center;
}

.footer .links a:hover {
  color: #fff;
}

.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

.scroll-top i {
  color: #aaa;
  font-size: 50px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  .home {
    width: 100%;
  }
  .home nav {
    height: 92px;
    width: 100%;
    padding: 0 30px;
  }
  .home nav .brand img {
    height: 53px;
  }
  .home nav .links a {
    font-size: 20px;
  }
  .home .hero {
    width: 100%;
  }
  .home .hero .hero-text {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .home .hero .hero-svg {
    top: 400px;
  }
  .home .hero .cta {
    left: 650px;
    top: 500px;
  }
  .home .hero .hexagons {
    top: 500px;
    left: 200px;
  }
  .portfolio {
    width: 100%;
    padding: 40px 20px;
  }
  .about .about-me, .about .contact {
    width: 900px;
    padding: 50px 50px;
  }
  .about .contact form .message {
    width: 100%;
  }
}
