/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (large tablets, 992px and up) */
@media only screen and (max-width: 1200px) and (orientation: portrait) {
    .home {
        width: 100%;

        nav {
            width: 100%;
            padding: 0 30px;
        }

        .hero {
            width: 100%;
            
            .hero-text {
                left: 50%;
                transform: translateX(-50%);
            }

            .hero-svg {
                top: 400px;
            }

            .cta {
                left: 650px;
                top: 500px;
            }

            .hexagons {
                top: 500px;
                left: 200px;
            }
        }
    }

    .portfolio {
        width: 100%;
        padding: 40px 20px;
    }

    .about {
        .about-me, .contact {
            width: 95%;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .contact form {
            .name {
                width: 55%;
            }

            .email {
                width: 70%;
            }

            .subject {
                width: 85%;
            }

            .message {
                width: 100%;
            }
        }
    }
}

/* Medium devices (smaller tablets, 768px and up) */
@media only screen and (max-width: 992px) and (orientation: portrait) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    .home {
        nav {
            .brand img {
                height: 60px;
            }
        }

        .hero {
            .hero-text {
                width: 80%;
                font-size: 40px;
            }

            .hero-svg {
                top: 250px;

                img {
                    height: 500px;
                }
            }

            .cta {
                left: 500px;
                top: 350px;
            }

            .hexagons {
                top: 450px;

                img {
                    height: 600px;
                }
            }
        }
    }

    .portfolio {

        .project {
            width: 663px;
            padding: 8px 20px 0 20px;

            .image img {
                width: 280px;
            }

            .description {
                font-size: 14px;
            }

            .buttons {
                width: 280px;

                .live-preview {
                    width: 145px;
                    font-size: 14px;
                }

                i {
                    font-size: 28px;
                }
            }

            .notice {
                font-size: 12px;
            }

            .footer {
                font-size: 14px;
                bottom: -25px;
                padding-top: 77px;
            }
        }
    }
}

// Small laptops height fix
@media only screen and (max-height: 840px) and (orientation: landscape) {
    .home {
        .hero {
            margin: 5vh auto;
        }
    }
}