/* Extra Large devices (Large Laptops up to 1440px) */
@media only screen and (max-width: 1440px) {
    .home {
        width: 100%;

        nav {
            width: 100%;
            padding: 0 30px;
        }

        .hero {
            margin-top: 10vh;
            width: 1024px;
            
            .hero-text {
                left: 50%;
                transform: translateX(-50%);
            }

            .hero-svg {
                top: 250px;
                left: -150px;
            }

            .cta {
                left: 650px;
                top: 400px;
            }

            .hexagons {
                top: 300px;
                left: 200px;
            }
        }
    }

    .about {
        .about-me, .contact {
            width: 95%;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .contact form {
            .name {
                width: 55%;
            }

            .email {
                width: 70%;
            }

            .subject {
                width: 85%;
            }

            .message {
                width: 100%;
            }
        }
    }
}


/* Large devices (Laptops up to 1024px) */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    .home {
        nav {
            .brand img {
                height: 60px;
            }

            .links {
                width: 400px;
            }
        }

        .hero {
            width: 100%;

            .hero-text {
                width: 80%;
                font-size: 58px;
            }


            .hero-svg {
                top: 250px;
                left: -70px;

                img {
                    height: 500px;
                }
            }

            .cta {
                left: 500px;
                top: 350px;
            }

            .hexagons {
                top: 350px;
                width: 1700px;
            }
        }
    }

    .portfolio {

        .project {
            width: 663px;
            padding: 8px 20px 0 20px;

            .image img {
                width: 280px;
            }

            .description {
                font-size: 14px;
            }

            .buttons {
                width: 280px;

                .live-preview {
                    width: 145px;
                    font-size: 14px;
                }

                i {
                    font-size: 28px;
                }
            }

            .notice {
                font-size: 12px;
            }

            .footer {
                font-size: 14px;
                bottom: -25px;
                padding-top: 77px;
            }
        }
    }
}

/* Medium devices (Tablets up to 768px) */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .home {
        nav {
            height: 80px;
            padding: 0 20px;

            .brand {
                padding: 0px;
                height: 50px;
                
                img {
                    height: 50px;
                }
            }
            
            .links {
                width: 210px;

                .desktop-link {
                    font-size: 16px;
                }

                i {
                    font-size: 30px;
                    height: 32px;
                }
            }
        }

        .hero {
            height: 400px;
            margin-top: 70px;

            .hero-text {
                font-size: 26px;
                width: 90%;
                max-width: 400px;

                .text3 {
                    margin-top: 14px;
                }
            }

            .cta {
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                top: 200px;
                padding: 8px 20px;
            }

            .hero-svg {
                top: 250px;
                left: -40px;

                img {
                    height: 270px;
                }
            }

            .hexagons {
                left: 40px;
                top: 370px;

                img {
                    width: 800px;
                }
            }
        }
    }

    .portfolio {
        padding: 10px;
        max-width: 450px;

        .project {
            grid-template-areas: 
                "image"
                "title"
                "description"
                "buttons"
                "notice" !important;
            grid-template-columns: 100% !important;
            grid-template-rows: 2fr 1fr 2fr 1fr !important;
            width: 100%;
            max-width: 355px;
            padding: 8px 15px;
            height: 420px;
            border-radius: 15px;

            h2 {
                grid-area: title;
                margin-top: 0;
            }

            .image {
                grid-area: image;

                img {
                    width: 100%;
                }
            }

            .description {
                grid-area: description;
            }

            .buttons {
                grid-area: buttons;
                width: 250px;
            }

            .notice {
                grid-area: notice;
            }

            .footer {
                font-size: 10px;
                border-radius: 15px;
                bottom: -18px;
                padding-top: 84px;
            }
        }

    }

    .about {
        .about-me, .contact {
            width: 95%;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .about-me .text {
            font-size: 14px;
            line-height: 22px;
        }

        .contact {
            padding-bottom: 40px;

            form {
                input, textarea {
                    height: 30px;
                    font-size: 14px;
                    padding: 15px 0 5px 15px;
                    margin-bottom: 10px;
                    border-radius: 5px;

                    &:focus ~ label, &:valid ~ label {
                        font-size: 12px;
                        top: -6px;
                        left: 0px;
                        font-weight: 500;
                        padding: 0 10px;
                    }
                }

                label {
                    top: 8px;
                    left: 15px;
                    font-size: 14px;
                    border-radius: 5px;
                }

                .message {
                    padding: 15px 0 5px 15px;
                    height:  150px;
                }

                button {
                    height: 30px;
                    width: 90px;
                    font-size: 14px;
                }
            }
        }
    }

    .footer {
        padding: 10px 0;

        .links {
            width: 310px;

            a {
                font-size: 14px;
                margin: 2px 0;
            }
        }
    }

    .scroll-top {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;

        i {
            font-size: 20px;
        }
    }
}

/* Small devices (Phones up to 425px) */
@media only screen and (max-width: 425px) {
    .home {
        nav {
            .links {
                justify-content: right;
                .desktop-link {
                    display: none;
                }
            }
        }
    }
}



// // Small laptops height fix
// @media only screen and (max-height: 840px) and (orientation: landscape) {
//     .home {
//         .hero {
//             margin: 5vh auto;
//         }
//     }
// }