/* Extra Large devices (Large Laptops up to 1440px) */
@media only screen and (max-width: 1440px) {
    .home {
        width: 100%;

        nav {
            width: 100%;
            padding: 0 30px;

            .brand {
                svg {
                    transform: translate(calc(50vw - 30px - 50%), calc(50vh - 60px - 50%)) scale(2);
                }
            }
        }

        .hero {
            margin-top: 10vh;
            width: 1024px;
            
            .hero-text {
                left: 50%;
                transform: translateX(-50%);
            }

            .hero-svg {
                top: 250px;
                left: -150px;
            }

            .hexagons {
                top: 300px;
                left: 200px;
            }
        }
    }
}


/* Large devices (Laptops up to 1024px) */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    .home {
        nav {
            .links {
                width: 400px;
            }
        }

        .hero {
            width: 100%;

            .hero-text {
                width: 80%;
                font-size: 58px;
            }


            .hero-svg {
                top: 250px;
                left: -70px;

                img {
                    height: 500px;
                }
            }

            .hexagons {
                top: 350px;
                width: 1700px;
            }
        }
    }

    .portfolio {

        .project {
            max-width: 663px;
            padding: 8px 20px 0 20px;

            .description {
                font-size: 14px;
            }

            .buttons {
                max-width: 280px;

                .live-preview {
                    width: 145px;
                    font-size: 14px;
                }

                i {
                    font-size: 28px;
                }
            }

            .notice {
                font-size: 12px;
            }

            .footer {
                font-size: 14px;
                bottom: -25px;
                padding-top: 77px;
            }
        }
    }

    .about {
        .about-me, .contact {
            padding: 40px 30px;
            max-width: 800px;
        }

        .contact {
            padding-top: 0;
        }
    }
}

// Large tablets
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .home {
        .hero {
            .hero-text {
                .cta {
                    right: 50%;
                    transform: translateX(50%);
                    font-size: 30px;
                    padding: 12px 30px;
                    bottom: -10vh;
                }
            }

            .hero-svg {
                position: absolute;
                top: 30vh;
                left: 50%;
                transform: translateX(-50%);

                img {
                    height: 770px;
                }
            }

            .hexagons {
                width: 2800px;
            }
        }
    }
}

/* Medium devices (Tablets up to 768px) */
@media only screen and (max-width: 768px) {
    .home {
        nav {
            height: 80px;
            padding: 0 20px;

            .brand {
                padding: 0px;
                height: 50px;
                
                svg {
                    height: 50px;
                    transform: translate(calc(50vw - 20px - 50%), calc(50vh - 60px - 50%)) scale(2);
                }
            }
            
            .links {
                width: 210px;

                .desktop-link {
                    font-size: 16px;
                }

                i {
                    font-size: 30px;
                    height: 32px;
                }
            }
        }

        .hero {
            height: 95vh;
            margin-top: 5vh;
            

            .hero-text {
                font-size: 44px;
                max-width: 600px;
                
                .cta {
                    right: 50%;
                    transform: translateX(50%);
                    font-size: 18px;
                    padding: 8px 20px;
                    bottom: -10vh;
                }
            }


            .hero-svg {
                position: absolute;
                top: 35vh;
                left: 50%;
                transform: translateX(-50%);

                img {
                    height: 570px;
                }
            }

            .hexagons {
                left: 60px;
                top: 400px;

                img {
                    width: 1800px;
                }
            }
        }
    }

    .portfolio {
        max-width: 100%;
        
        .project {
            .image {
                place-self: center;
            }

            .notice {
                margin-top: 2px;
                font-size: 11px;
            }
        }
    }

    .about {
        .about-me, .contact {
            max-width: 600px;
            // padding: 40px 30px;
        }

        .about-me .text {
            font-size: 16px;
            line-height: 30px;
        }

        .contact {
            padding-top: 0;

            form {
                input, textarea {
                    height: 40px;
                    font-size: 16px;
                    padding: 15px 0 5px 15px;
                    margin-bottom: 20px;
                    border-radius: 10px;

                    &:focus ~ label, &:valid ~ label {
                        font-size: 14px;
                        top: -8px;
                        left: 0px;
                        font-weight: 500;
                        padding: 0 10px;
                    }
                }

                label {
                    top: 14px;
                    left: 15px;
                    font-size: 16px;
                    border-radius: 10px;
                }

                .message {
                    padding: 15px 0 5px 15px;
                    height:  150px;
                }

                button {
                    height: 30px;
                    width: 90px;
                    font-size: 14px;
                }
            }
        }
    }

    .footer {
        padding: 10px 0;

        .links {
            width: 310px;

            a {
                font-size: 14px;
                margin: 2px 0;
            }
        }
    }

    .scroll-top {
        bottom: 40px;
        right: 40px;
        width: 50px;
        height: 50px;

        i {
            font-size: 30px;
        }
    }
}

// Transition for mid sized devices
@media only screen and (max-width: 560px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .home {
        .hero {
            .hero-text {
                width: 90%;
                font-size: 36px;
            }

            .hero-svg {
                img {
                    height: 500px;
                }
            }
        }
    }

    .portfolio {
        padding: 30px 40px;

        .project {
            grid-template-areas: 
                "image"
                "title"
                "description"
                "buttons"
                "notice" !important;
            grid-template-columns: 100% !important;
            grid-template-rows: 2fr 1fr 2fr 1fr !important;
            width: 100%;
            max-width: 320px;
            padding: 8px 15px;
            height: 420px;
            border-radius: 15px;

            h2 {
                grid-area: title;
                margin-top: 0;
            }

            .image {
                grid-area: image;

                img {
                    width: 100%;
                }
            }

            .description {
                grid-area: description;
            }

            .buttons {
                grid-area: buttons;
                width: 250px;
            }

            .notice {
                grid-area: notice;
                font-size: 11px;
            }

            .footer {
                font-size: 9px;
                border-radius: 15px;
                bottom: -18px;
                padding-top: 84px;
            }
        }
    }

    .about {
        .contact {
            form {
                .name-group {
                    max-width: 250px;
                }

                .email-group {
                    max-width: 300px;
                }

                .subject-group {
                    max-width: 350px;
                }
            }
        }
    }

    .scroll-top {
        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;

        i {
            font-size: 20px;
        }
    }
}

/* Small devices (Phones up to 425px) */
@media only screen and (max-width: 425px) {
    .home {
        nav {
            .links {
                justify-content: right;

                .desktop-link {
                    display: none;
                }
            }
        }

        .hero {
            .hero-text {
                font-size: 30px;
            }

            .cta {
                width: 200px;
                text-align: center;
            }

            .hero-svg {
                top: 38vh;

                img {
                    height: 400px;
                }
            }

            .hexagons {
                left: 0px;
                top: 290px;
                
                img {
                    width: 1500px;
                }
            }
        }
    }

    .portfolio {
        padding: 20px 10px;
    }

    .about {
        .about-me .text {
            font-size: 14px;
            line-height: 28px;
        }

        .contact {
            form {
                input, textarea {
                    height: 36px;
                    font-size: 14px;

                    &:focus ~ label, &:valid ~ label {
                        font-size: 12px;
                        top: -6px;
                    }
                }

                label {
                    font-size: 14px;
                }

                .name-group {
                    max-width: 220px;
                }

                .email-group {
                    max-width: 260px;
                }

                .subject-group {
                    max-width: 300px;
                }

                .message {
                    height: 200px;
                }
            }
        }
    }

    // .scroll-top {
    //     bottom: 20px;
    //     right: 20px;
    //     width: 30px;
    //     height: 30px;
    //     padding: 3px;

    //     i {
    //         font-size: 18px;
    //     }
    // }
}

// Very small devices
@media only screen and (max-width: 340px) {
    .home {
        nav {
            height: 50px;

            .brand {
                height: 30px;

                svg {
                    height: 30px;
                    width: auto;
                }
            }

            .links {
                height: 30px;

                .fa-github {
                    height: 24px;
                    font-size: 24px;
                }
            }
        }

        .hero {
            .hero-text {
                font-size: 24px;
                top: 30px;

                .text2, .text3 {
                    margin-top: 14px;
                }

                .cta {
                    width: 120px;
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }

            .hero-svg {
                img {
                    height: 300px;
                }
            }

            .hexagons {
                top: 150px;
                left: 0;

                img {
                    width: 1000px;
                }
            }
        }
    }

    .portfolio {
        .project {
            grid-template-rows: 1fr 36px 1fr 24px !important;
            max-width: 270px;
            height: 360px;

            .description {
                font-size: 12px;
            }

            .buttons {
                max-width: 230px;

                a {
                    padding-top: 3px;
                }

                .live-preview {
                    font-size: 12px;
                    width: 120px;
                    padding: 3px;
                    border-radius: 5px;
                }

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .about {
        .about-me .text {
            font-size: 12px;
            line-height: 24px;
        }
    }
}


// // Small laptops height fix
// @media only screen and (max-height: 840px) and (orientation: landscape) {
//     .home {
//         .hero {
//             margin: 5vh auto;
//         }
//     }
// }