@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500&display=swap');

// Colors
$textColor: #626262;
$ctaColor: #00A6FB;
$lightBlue: #0582CA;
$mediumBlue: #006494;
$darkBlue: #003554;           
$darkest: #051923;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    overflow-x:hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $textColor;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.home {
    height: 100vh;
    background: linear-gradient(to bottom right, $mediumBlue, $lightBlue);
    position: relative;
    overflow: hidden;
    z-index: 2;

    nav {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        max-width: 1440px;
        padding: 0 50px;
        left: 50%;
        transform: translateX(-50%);

        .brand {
            svg {
                transform: translate(calc(720px - 50px - 50%), calc(50vh - 60px - 50%)) scale(2);
                opacity: 1;
                height: 80px;
                width: auto;
    
                #cog {
                    transform-origin: center;
                    transform-box: fill-box;
                    transform: translate(123px, 38px) rotate(60deg) scale(0);
                }
                  
                #name {
                    clip-path: polygon(
                        100% 0,
                        100% 0,
                        100% 100%,
                        100% 100%,
                        100% 85%,
                        100% 65%,
                        100% 35%,
                        100% 15%
                        );
                }
                
                #code {
                    clip-path: circle(75% at 200% 50%);
                }
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 437px;
            opacity: 0;
            transform: translateY(-10px);
            
            a {
                font-size: 28px;
                text-transform: uppercase;
                color: #ddd;
                display: flex;

                &:hover {
                    color: #fff;
                }
            }

            i {
                font-size: 42px;
            }
        }
    }

    .hero {
        width: 1200px;
        height: 80vh;
        position: relative;
        margin: 15vh auto;

        .hero-svg, .hexagons {
            position: absolute;
        }

        .hero-text {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-size: 69px;
            width: 886px;
            top: 50px;
            left: 279px;
            color: #fff;
            z-index: 6;

            * {
                opacity: 0;
            }

            .text1 {
                transform: translateX(60px);
            }
    
            .text2 {
                margin-top: 27px;
                text-align: center;
                transform: scale(0);
            }
    
            .text3 {
                text-align: right;
                margin-top: 27px;
                transform: translateX(-60px)
            }

            .cta {
                position: absolute;
                right: 100px;
                bottom: -110px;
                border-radius: 10px;
                background-color: $ctaColor;
                padding: 15px 28px;
                font-size: 22px;
                color: #fff;
                z-index: 2;
            }
        }
    
        .hero-svg {
            top: 200px;
            left: -82px;
            z-index: 5;

            img {
                height: 600px;
                opacity: 1;
            }
        }
        
        .hexagons {
            z-index: 1;
            width: 2200px;
            top: 315px;
            left: 400px;
            opacity: 0.1;
            transform: translateX(0px);
        }
    }

}


.portfolio {
    margin: auto;
    max-width: 1200px;
    padding: 40px 20px;
    
    h1 {
        color: #7a7a7a;
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(-50px);
    }
    
    .wrapper {
        opacity: 0;

        .project {
            background-color: #eee;
            padding: 10px 40px 0 40px;
            max-width: 934px;
            display: grid;
            column-gap: 5%;
            grid-template-areas: 
            "title image"
            "description image"
            "buttons image"
            "notice image";
            grid-template-columns: 50% 45%;
            grid-template-rows: 30% 45% 15% 10%; 
            border-radius: 30px;
            margin-bottom: 70px;
            position: relative;
            margin-left: auto;
            
            h2 {
                grid-area: title;
            }
            
            .image {
                grid-area: image;
                text-align: center;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            
            .description {
                font-size: 19px;
                grid-area: description;
            }
            
            .buttons {
                display: flex;
                max-width: 340px;
                justify-content: space-between;
                align-items: center;
                grid-area: buttons;
            }
            
            .live-preview {
                background-color: $ctaColor;
                width: 196px;
                text-align: center;
                font-size: 19px;
                letter-spacing: 1px;
                padding: 6px 0;
                color: #fff;
                border-radius: 10px;
                text-decoration: none;
                &:hover {
                    background-color: $lightBlue;
                }
            }
            
            .buttons i {
                font-size: 32px;
            }
            
            .fa-github {
                color: #555;
                &:hover {
                    color: #777;
                }
            }
            
            .fa-youtube {
                color: #f31e1e;
                &:hover {
                    color:  #ff4949;
                }
            }
    
            .notice {
                grid-area: notice;
                color: #c36b18;
                font-size: 14px;
            }
            
            .footer {
                position: absolute;
                bottom: -34px;
                background-color: $lightBlue;
                color: #eee;
                width: 100%;
                height: 100px;
                text-align: center;
                font-size: 18px;
                padding-top: 70px;
                z-index: -1;
                border-radius: 30px;
            }
        }
        
    }
    
    .wrapper:nth-child(even) {
        .project {
            margin-left: 0;
            grid-template-columns: 45% 50%;
            grid-template-areas: 
            "image title"
            "image description"
            "image buttons"
            "image notice";
        }
    }

    .first, .third {
        transform: translateX(200px);
    }

    .second {
        transform: translateX(-200px);
    }
}

.about {
    background: linear-gradient(to bottom right, $darkBlue, $mediumBlue);
    color: #fff;
    padding-top: 1px;
    
    h1 {
        margin-bottom: 20px;
    }

    .about-me, .contact {
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 160px;
    }

    .about-me {
        padding-bottom: 0;
        transform: translateX(200px);
        opacity: 0;

        .text {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1.5px;
            line-height: 40px;
        }
    }

    .contact {
        transform: translateX(-200px);
        opacity: 0;

        form {
            display: flex;
            flex-direction: column;
    
            .input-group {
                position: relative;
            }
    
            input, textarea {
                height: 50px;
                background-color: $darkBlue;
                border: none;
                margin-bottom: 24px;
                border-radius: 10px;
                padding: 20px 0 5px 30px;
                font-size: 20px;
                color: #fff;
                font-family: 'Poppins';
                border-radius: 10px;
                width: 100%;
    
                &:focus {
                    outline: none;
                }
    
                &:focus ~ label, &:valid ~ label {
                    color: $ctaColor;
                    font-size: 18px;
                    top: -10px;
                    left: 0px;
                    font-weight: 500;
                    padding: 0 20px;
                }
            }
    
            label {
                position: absolute;
                top: 10px; 
                left: 30px;
                color: #fff6;
                font-size: 22px;
                font-weight: 500;
                transition: 300ms ease-in-out;
                background-color: $darkBlue;
                border-radius: 10px;
                pointer-events: none;
            }
    
            .name-group {
                max-width: 50%;
            }
    
            .email-group {
                max-width: 60%;
            }
    
            .subject-group {
                max-width: 70%;
            }
    
            .message {
                height: 246px;
                padding: 20px 30px;
                resize: none;
            }
    
            button {
                background-color: $ctaColor;
                border-radius: 10px;
                height: 40px;
                width: 120px;
                font-size: 20px;
                display: flex;
                font-weight: 600;
                justify-content: space-evenly;
                align-items: center;
                color: #fff;
                border: none;
                cursor: pointer;
    
                &:hover {
                    background-color: $lightBlue;
                }
            }
        }
    }
}

.footer {
    background-color: $darkest;
    color: #ddd;
    padding: 20px 0 10px 0;
    
    .links {
        width: 433px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        a {
            display: flex;
            width: 50%;
            color: #bbb;
            font-size: 20px;
            margin: 5px 0;

            .icon {
                width: 40px;
                text-align: center;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    background-color: $ctaColor;
    padding: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    opacity: .8;

    i {
        color: #fff;
        font-size: 50px;
    }
}

@import 'media_queries';