@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500&display=swap');

// Colors
$textColor: #626262;
$ctaColor: #00A6FB;
$lightBlue: #0582CA;
$mediumBlue: #006494;
$darkBlue: #003554;           
$darkest: #051923;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $textColor;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

.home {
    height: 100vh;
    background: linear-gradient(to bottom right, $mediumBlue, $lightBlue);
    position: relative;
    overflow: hidden;

    nav {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        max-width: 1400px;
        padding: 0 50px;
        left: 50%;
        transform: translateX(-50%);

        .brand img {
            height: 77px;
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 437px;
            
            a {
                font-size: 28px;
                text-transform: uppercase;
                color: #ddd;
                height: 42px;

                &:hover {
                    color: #fff;
                }
            }

            i {
                font-size: 42px;
            }
        }
    }

    .hero {
        width: 1200px;
        height: 100%;
        position: relative;
        margin: auto;

        .hero-text, .cta, .hero-svg, .hexagons {
            position: absolute;
        }

        .hero-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 69px;
            width: 886px;
            top: 236px;
            left: 279px;
            color: #fff;
            z-index: 2;
    
            .text2 {
                margin: 27px 0 0 153px;
            }
    
            .text3 {
                text-align: right;
                margin-top: 27px;
            }
        }

        .cta {
            left: 777px;
            top: 621px;
            border-radius: 10px;
            background-color: $ctaColor;
            padding: 10px 28px;
            font-size: 22px;
            color: #fff;
            z-index: 2;
        }
    
        .hero-svg {
            top: 354px;
            left: -82px;
            img {
                height: 547px;
            }
        }
        .hexagons {
            z-index: 1;
            width: 1328px;
            top: 415px;
            left: 470px;
            opacity: .1;
        }
    }

}


.portfolio {
    margin: 40px auto;
    width: 1200px;
    padding: 0 50px;
    
    h1 {
        color: #7a7a7a;
        margin-bottom: 30px;
    }
    
    .project {
        background-color: #eee;
        padding: 10px 40px 0 40px;
        width: 934px;
        display: grid;
        column-gap: 5%;
        grid-template-areas: 
        "title image"
        "description image"
        "buttons image"
        "notice image";
        grid-template-columns: 50% 45%;
        grid-template-rows: 30% 45% 15% 10%; 
        border-radius: 30px;
        margin-bottom: 70px;
        position: relative;
        margin-left: auto;
        
        h2 {
            grid-area: title;
        }
        
        .image {
            grid-area: image;
            text-align: center;
        }
        
        .image img {
            width: 400px;
        }
        
        .description {
            font-size: 19px;
            grid-area: description;
        }
        
        .buttons {
            display: flex;
            width: 340px;
            justify-content: space-between;
            align-items: center;
            grid-area: buttons;
        }
        
        .live-preview {
            background-color: $ctaColor;
            width: 196px;
            text-align: center;
            font-size: 19px;
            padding: 6px 0;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
            &:hover {
                background-color: $lightBlue;
            }
        }
        
        .buttons i {
            font-size: 32px;
        }
        
        .fa-github {
            color: #555;
            &:hover {
                color: #777;
            }
        }
        
        .fa-youtube {
            color: #f31e1e;
            &:hover {
                color:  #ff4949;
            }
        }

        .notice {
            grid-area: notice;
            color: #c36b18;
            margin-left: 20px;
            font-size: 14px;
        }
        
        .footer {
            position: absolute;
            bottom: -34px;
            background-color: $lightBlue;
            color: #eee;
            width: 100%;
            height: 100px;
            text-align: center;
            font-size: 18px;
            padding-top: 70px;
            z-index: -1;
            border-radius: 30px;
        }
    }
    
    .project:nth-child(even) {
        margin-left: 0;
        grid-template-columns: 45% 50%;
        grid-template-areas: 
        "image title"
        "image description"
        "image buttons"
        "image notice";
    }
}

.about {
    background: linear-gradient(to bottom right, $darkBlue, $mediumBlue);
    color: #fff;
    
    .about-me, .contact {
        width: 1200px;
        margin: auto;
        padding: 20px 160px;
    }

    .about-me .text {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 50px;
    }

    .contact form {
        display: flex;
        flex-direction: column;

        .input-group {
            position: relative;
        }

        input {
            height: 62px;
            background-color: #fff5;
            border: none;
            margin-bottom: 24px;
            border-radius: 10px;
            padding: 20px 0 0 30px;
            font-size: 30px;
        }

        label {
            position: absolute;
            top: 20px; 
            left: 30px;
            color: $darkBlue;
            font-size: 30px;
            font-weight: 500;
        }

        .name {
            width: 423px;
        }

        .email {
            width: 583px;
        }

        .subject {
            width: 747px;
        }

        .message {
            width: 868px;
            height: 346px;
        }
    }
}

@import 'media_queries';